node_modules
Temp/
__backups/*.wln
__ntemp/*.wln
__localkernel/*
_settings.wl
shipped/*
*.DS_STORE
public/.DS_STORE
wljs_packages_legacy
.obsidian
Debug/*
.lastpath
wljs_packages
.wl_timestamp
.wljs_timestamp
wl_packages_version.wl
wljs_packages_version.wl
.settings
.theme
.gcss
.env
wl_packages
package-lock.json
wl_packages_lock.wl
wljs_packages_lock.wl
wljs_packages_users.wl
.packages
.env
/LPM.wl
/LPM2.wl
.thumbnails
Kernel/.lastpath
Demo/*.wl
Demo/*.html
Packages/*
2minutesLog.txt
dist
shipped
bundle
null
log.txt
configuration.ini
dist
wljs_packages_backup
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/