node_modules
Temp/
*.DS_STORE
public/.DS_STORE
.obsidian
.lastpath
.settings
.theme
.env
wl_packages
wl_packages_lock.wl
.packages
.thumbnails
Kernel/.lastpath
Demo/*.wl
Demo/*.html
Packages/*
dist
null
log.txt