node_modules
Temp/
__backups/*.wln
__localkernel/*
_settings.wl
shipped/*
*.DS_STORE
public/.DS_STORE
.obsidian
.lastpath
wljs_packages
.wl_timestamp
.wljs_timestamp
.settings
.theme
.gcss
.env
wl_packages
wl_packages_lock.wl
wljs_packages_lock.wl
wljs_packages_users.wl
.packages
.env
Electron/sign.js
/LPM.wl
.thumbnails
Kernel/.lastpath
Demo/*.wl
Demo/*.html
Packages/*
2minutesLog.txt
dist
shipped
null
log.txt
configuration.ini