.notion-app-inner.notion-light-theme > div {
	height: 100%;
}

.notion-sidebar-container > div {
	color: rgba(25, 23, 17, 0.6);
	font-weight: 500;
	height: 100%;
}

.modal {
	width: 100vw; height: 100vh; position: fixed; top: 0px; left: 0px; display: flex; align-items: center; justify-content: center; pointer-events: auto; opacity: 1; 
	z-index: 999;
}

.modal-hidden {
	opacity: 0;
	visibility: hidden;
}

.notion-sidebar > div {
	display: none;
	position: absolute;
	inset: 0px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	z-index: -1;
	background-color: white;
	box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
}

.notion-sidebar > div {
	position: absolute;
	inset: 0px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	z-index: -1;
	display: none;
	transition: box-shadow 300ms ease 0s;
	box-shadow: rgba(0, 0, 0, 0.024) -1px 0px 0px 0px inset;
}

.notion-sidebar > div {
	display: flex;
	flex-direction: column;
	height: 100%;
	max-height: 100%;
	overflow: hidden;
	position: relative;
}

.notion-focusable > div {
	display: flex;
	align-items: center;
	width: 100%;
	font-size: 14px;
	min-height: 27px;
	padding: 2px 10px;
	margin-top: 1px;
	margin-bottom: 1px;
}

.sidebar-new-class {
	display: flex;
    align-items: center;
    width: 100%;
    font-size: 14px;
    min-height: 27px;
    padding: 2px 10px;
    margin-top: 1px;
    margin-bottom: 1px;
    color: rgba(55, 53, 47, 0.65);
    height: 45px;
}

.topbar-path {
	opacity: 1;
    transition: opacity 150ms linear 0s;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: rgba(55, 53, 47, 0.5);
    height: 28px;
    white-space: nowrap;
    line-height: 1.2;
  
}

.notion-focusable .focusable-add {
	display: flex;
    align-items: center;
    width: 100%;
    font-size: 14px;
    min-height: 27px;
    padding: 2px 10px;
    margin-top: 1px;
    margin-bottom: 1px;
    color: rgba(55, 53, 47, 0.65);
                                                                        
}

.notion-focusable > div {
	display: flex;
	align-items: center;
	width: 100%;
	font-size: 14px;
	min-height: 27px;
	padding: 2px 10px 2px 5px;
	margin-top: 1px;
	margin-bottom: 1px;
	border-radius: 3px;
}

.notion-record-icon.notranslate.notion-focusable > div {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 20px;
	width: 20px;
}

.notion-selectable.notion-page-block > a {
	display: block;
	color: inherit;
	text-decoration: none;
	width: 100%;
}

.notion-focusable > div {
	display: flex;
	align-items: center;
	width: 100%;
	font-size: 14px;
	min-height: 27px;
	padding: 2px 10px 2px 5px;
	margin-top: 1px;
	margin-bottom: 1px;
	border-radius: 3px;
}

.notion-record-icon.notranslate.notion-focusable > div {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 20px;
	width: 20px;
}

.notion-selectable.notion-collection_view_page-block > a {
	display: block;
	color: inherit;
	text-decoration: none;
	width: 100%;
}

.notion-focusable > div {
	display: flex;
	align-items: center;
	width: 100%;
	font-size: 14px;
	min-height: 27px;
	padding: 2px 10px 2px 5px;
	margin-top: 1px;
	margin-bottom: 1px;
	border-radius: 3px;
}

.notion-record-icon.notranslate.notion-focusable > div {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 20px;
	width: 20px;
}

.notion-selectable.notion-collection_view_page-block > a {
	display: block;
	color: inherit;
	text-decoration: none;
	width: 100%;
}

.notion-focusable > div {
	display: flex;
	align-items: center;
	width: 100%;
	font-size: 14px;
	min-height: 27px;
	padding: 2px 10px 2px 5px;
	margin-top: 1px;
	margin-bottom: 1px;
	border-radius: 3px;
}

.notion-record-icon.notranslate.notion-focusable > div {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 20px;
	width: 20px;
}

.notion-selectable.notion-collection_view_page-block > a {
	display: block;
	color: inherit;
	text-decoration: none;
	width: 100%;
}

.notion-focusable > div {
	display: flex;
	align-items: center;
	width: 100%;
	font-size: 14px;
	min-height: 27px;
	padding: 2px 10px 2px 5px;
	margin-top: 1px;
	margin-bottom: 1px;
	border-radius: 3px;
}

.notion-record-icon.notranslate.notion-focusable > div {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 20px;
	width: 20px;
}

.notion-focusable > div {
	display: flex;
	align-items: center;
	width: 100%;
	font-size: 14px;
	min-height: 27px;
	padding: 2px 10px;
	margin-top: 1px;
	margin-bottom: 1px;
	color: rgba(55, 53, 47, 0.65);
}

.notion-focusable > div {
	display: flex;
	align-items: center;
	width: 100%;
	font-size: 14px;
	min-height: 27px;
	padding: 2px 10px;
	margin-top: 1px;
	margin-bottom: 1px;
}

.notion-focusable > div {
	display: flex;
	align-items: center;
	width: 100%;
	font-size: 14px;
	min-height: 27px;
	padding: 2px 10px;
	margin-top: 1px;
	margin-bottom: 1px;
}

.notion-focusable > div {
	display: flex;
	align-items: center;
	width: 100%;
	font-size: 14px;
	min-height: 27px;
	padding: 2px 10px;
	margin-top: 1px;
	margin-bottom: 1px;
}

.notion-focusable > div {
	display: flex;
	align-items: center;
	width: 100%;
	font-size: 14px;
	min-height: 27px;
	padding: 2px 10px;
	margin-top: 1px;
	margin-bottom: 1px;
}

.notion-focusable > div {
	display: flex;
	align-items: center;
	width: 100%;
	font-size: 14px;
	min-height: 27px;
	padding: 2px 10px;
	margin-top: 1px;
	margin-bottom: 1px;
	color: rgba(55, 53, 47, 0.65);
	height: 2em;
}

.notion-focusable:hover {
	background-color: rgba(55, 53, 47, 0.08);
}

.notion-focusable-pressed {
	background-color: rgba(55, 53, 47, 0.08);
}


.notion-topbar > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
	height: 45px;
	padding-left: 12px;
	padding-right: 10px;
}

.notion-topbar-action-buttons > div {
	display: flex;
}


.notion-app-inner.notion-light-theme {
    color: rgb(55, 53, 47);
    fill: currentcolor;
    line-height: 1.5;
     font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, 'Apple Color Emoji', Arial, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol'; 
    -webkit-font-smoothing: auto;
    background-color: white;
}

.notion-cursor-listener {
    width: 100vw;
    height: 100%;
    position: relative;
    display: flex;
    flex: 1 1 0%;
    background-color: white;
    cursor: default;
}

.notion-sidebar-container {
	flex-grow: 0;
	flex-shrink: 0;

	position: fixed;
	z-index: 111;
	background-color: rgb(251, 251, 250);
	transition: box-shadow 300ms ease 0s;
	box-shadow: rgba(0, 0, 0, 0.024) -1px 0px 0px 0px inset;
	width: 246px;
	height: 100%;
    transition: all ease-in-out 0.3s;
}

.notion-sidebar-container-hide {
	width: 0px;
}


.notion-sidebar-switcher.notion-focusable {
	-webkit-user-select: none;
	transition: background 20ms ease-in 0s;
	cursor: pointer;
	display: flex;
	align-items: center;
	min-width: 0px;
	height: 45px;
	width: 100%;
	margin-bottom: 0px;
}

.sidebar-option:hover {
	background-color: rgba(0, 0, 0, 0.04);
}

.notion-fadein {
	display: flex;
	align-items: center;
	height: 100%;
	margin-left: auto;
	margin-right: 12px;
}

.sidebar-button {
	-webkit-user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; border-radius: 3px; margin-left: 4px; margin-right: 4px; width: calc(100% - 8px);
}

.sidebar-button-inner {
	display: flex; align-items: center; width: 100%; font-size: 14px; min-height: 27px; padding: 2px 10px; margin-top: 1px; margin-bottom: 1px;
}

.sidebar-button-svg {
	flex-shrink: 0;
    flex-grow: 0;
    border-radius: 3px;
    color: rgba(55, 53, 47, 0.65);
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
                                                                
}

.sidebar-button-delim {
	display: flex; align-items: center; justify-content: center; flex-shrink: 0; flex-grow: 0; height: 100%;
}



.sidebar-option {
	display: flex;
    align-items: center;
    font-size: 14px;
    min-height: 27px;
    padding: 2px 10px 2px 5px;
    margin-top: 1px;
    margin-bottom: 1px;
    /*font-weight: 600;*/
    border-radius: 3px;                                                                            
}

.sidebar-option .option-holder {
	flex-shrink: 0;
	flex-grow: 0;
	border-radius: 3px;
	color: rgba(55, 53, 47, 0.65);
	width: 22px;
	height: 22px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 0px;
}

.focusable-pointer {
	-webkit-user-select: none;
    transition: background 20ms ease-in 0s;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 3px;
}

.sidebar-option-button {
	display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-grow: 0;
    width: 22px;
    height: 18px;
    margin-left: -3px;
    margin-right: 4px;
    position: relative;
 
}

.sidebar-label-clearfix {
	flex: 1 1 auto; white-space: nowrap; min-width: 0px; overflow: hidden; text-overflow: ellipsis; display: flex; align-items: center;
}

.sidebar-button-label {
	flex: 1 1 auto; white-space: nowrap; min-width: 0px; overflow: hidden; text-overflow: ellipsis;
}

.notion-close-sidebar.notion-focusable {
	-webkit-user-select: none;
	transition: background 20ms ease-in 0s;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	border-radius: 3px;
	height: 24px;
	width: 24px;
	padding: 0px;
	position: relative;
	margin-left: 10px;
	opacity: 1;
}

.doubleChevronLeft {
	width: 16px;
	height: 16px;
	display: block;
	fill: rgba(55, 53, 47, 0.45);
	flex-shrink: 0;
	backface-visibility: hidden;

	transition: all 20ms ease-in 0s;
}

.doubleChevronLeft-rotate {
	transform: rotateZ(-180deg);
}

.notion-focusable {
	-webkit-user-select: none;
	transition: background 20ms ease-in 0s;
	cursor: pointer;
	border-radius: 3px;
	margin-left: 4px;
	margin-right: 4px;
	width: calc(100% - 8px);
}

.notion-focusable .button-body {
	display: flex; align-items: center; justify-content: center;
}

.notion-focusable .button-label {
	margin-left: 6px; margin-right: 6px; min-width: 0px; flex: 1 1 auto;
}

.notion-focusable .button-label2 {
	margin-left: 6px; margin-right: 12px; min-width: 0px; flex: 1 1 auto;
}

.label-clear {
	white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}

.sidebar-flex {
	display: flex; flex-direction: column; height: 100%; max-height: 100%;
}

.sidebar-flex .sidebar-holder {
	display: block; flex-shrink: 0; flex-grow: 0;
}

.sidebar-container {
	-webkit-user-select: none;
    transition: background 20ms ease-in 0s;
    cursor: pointer;
    display: flex;
    align-items: center;
    min-width: 0px;
    height: 45px;
    width: 100%;
    margin-bottom: 0px;
}

.notion-focusable .focusable-holder {
	display: flex; align-items: center; line-height: 120%; width: 100%; min-height: 28px; font-size: 14px;
}

.notion-focusable .focusable-holder .focusable-holder-holder {
	display: flex; align-items: center; justify-content: center; margin-left: 10px; margin-right: 4px;
}

.sidebarSearch {
	width: 14px;
	height: 100%;
	display: block;
	fill: rgba(55, 53, 47, 0.45);
	flex-shrink: 0;
	backface-visibility: hidden;
}

.sidebarUpdates {
	width: 14px;
	height: 100%;
	display: block;
	fill: rgba(55, 53, 47, 0.45);
	flex-shrink: 0;
	backface-visibility: hidden;
}

.sidebarSettings {
	width: 14px;
	height: 100%;
	display: block;
	fill: rgba(55, 53, 47, 0.45);
	flex-shrink: 0;
	backface-visibility: hidden;
}

.notion-scroller.vertical {
	padding-top: 6px;
	padding-bottom: 20px;
	box-shadow: transparent 0px 0px 0px inset;
	transition: box-shadow 300ms ease 0s;
	z-index: 1;
	overflow: hidden auto;
	margin-right: 0px;
	margin-bottom: 0px;
}

.notion-outliner-private {
	display: block;
}

.notion-outliner-private-hide {
	width:0px;
	opacity: 0;
	visibility: hidden;
}

.dropdown-frame {
	border-radius: 4px; background-color: white; position: relative; max-width: calc(-24px + 100vw); box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px; overflow: hidden;
}

.vertical {
	padding-bottom: 6px; padding-top: 0px; flex-grow: 1; min-height: 0px; transform: translateZ(0px); z-index: 1; overflow: hidden auto; margin-right: 0px; margin-bottom: 0px;
}

.notion-shadow {
	padding-top: 6px; padding-bottom: 6px; box-shadow: rgba(55, 53, 47, 0.09) 0px -1px 0px; margin-top: 1px;
}

.chevronDownRoundedThick {
	width: 12px;
	height: 12px;
	display: block;
	fill: rgba(55, 53, 47, 0.35);
	flex-shrink: 0;
	backface-visibility: hidden;
	transition: transform 200ms ease-out 0s;
	transform: rotateZ(-90deg);
	opacity: 1;
}

.notion-record-icon.notranslate.notion-focusable {
	-webkit-user-select: none;
	transition: background 20ms ease-in 0s;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 20px;
	width: 20px;
	border-radius: 0.25em;
	flex-shrink: 0;
}

.page {
	width: 18px;
	height: 18px;
	display: block;
	fill: rgba(55, 53, 47, 0.45);
	flex-shrink: 0;
	backface-visibility: hidden;
}

.notranslate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}



.plusThick {
	width: 16px;
	height: 16px;
	display: block;
	fill: rgba(55, 53, 47, 0.45);
	flex-shrink: 0;
	backface-visibility: hidden;
}

.sidebarInviteTeam {
	width: 100%;
	height: 20px;
	display: block;
	fill: rgba(55, 53, 47, 0.45);
	flex-shrink: 0;
	backface-visibility: hidden;
}

.sidebarTemplates {
	width: 100%;
	height: 15px;
	display: block;
	fill: rgba(55, 53, 47, 0.45);
	flex-shrink: 0;
	backface-visibility: hidden;
}

.sidebarImport {
	width: 100%;
	height: 15px;
	display: block;
	fill: rgba(55, 53, 47, 0.45);
	flex-shrink: 0;
	backface-visibility: hidden;
}

.sidebarTrash {
	width: 14px;
	height: 100%;
	display: block;
	fill: rgba(55, 53, 47, 0.45);
	flex-shrink: 0;
	backface-visibility: hidden;
}

.plus {
	width: 16px;
	height: 16px;
	display: block;
	fill: rgba(55, 53, 47, 0.45);
	flex-shrink: 0;
	backface-visibility: hidden;
}



.topbar-url-container {
	margin-left: 246px;
}

.notion-topbar {
    width: 100%;
    /* max-width: 100vw; */
    height: 45px;
    opacity: 1;
    transition: opacity 700ms ease 0s, color 700ms ease 0s;
    position: fixed;
	z-index: 110;
}

.notion-topbar-action-buttons {
	flex-grow: 0;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	padding-right: 0px;
	padding-left: 12px;
	justify-content: space-between;
	z-index: 101;
	height: 45px;
	opacity: 1;
	transition: opacity 700ms ease 0s, color 700ms ease 0s;
}

.notion-topbar-share-menu.notion-focusable {
	-webkit-user-select: none;
	transition: background 20ms ease-in 0s;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	flex-shrink: 0;
	white-space: nowrap;
	height: 28px;
	border-radius: 4px;
	font-size: 14px;
	line-height: 1.2;
	min-width: 0px;
	padding-left: 8px;
	padding-right: 8px;
	color: rgb(55, 53, 47);
	margin-right: 2px;
}

.notion-topbar-comments-button.notion-focusable {
	-webkit-user-select: none;
	transition: background 20ms ease-in 0s;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	border-radius: 3px;
	height: 28px;
	width: 33px;
	padding: 0px;
	margin-right: 2px;
}

.topbarComment {
	width: 20px;
	height: 20px;
	display: block;
	fill: rgba(55, 53, 47, 0.85);
	flex-shrink: 0;
	backface-visibility: hidden;
}

.notion-topbar-updates-button.notion-focusable {
	-webkit-user-select: none;
	transition: background 20ms ease-in 0s;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	border-radius: 3px;
	height: 28px;
	width: 33px;
	padding: 0px;
	margin-right: 2px;
}

.topbarUpdate {
	width: 20px;
	height: 20px;
	display: block;
	fill: rgba(55, 53, 47, 0.85);
	flex-shrink: 0;
	backface-visibility: hidden;
}

.notion-topbar-favorite-button.notion-focusable {
	-webkit-user-select: none;
	transition: background 20ms ease-in 0s;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	border-radius: 3px;
	height: 28px;
	width: 33px;
	padding: 0px;
	margin-right: 2px;
}

.notion-frame {
    flex-grow: 0;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 1;
    height: 100%;
    max-height: 100%;
    position: relative;
	margin-left: 246px;
    width: calc(100vw - 250px);
	transition: all ease-in-out 0.3s;
}

.notion-frame-extended {
	margin-left: 0;
	width: calc(100vw - 10px);
}

.notion-help-button.notion-focusable {
	-webkit-user-select: none;
	transition: opacity 700ms ease 0s, color 700ms ease 0s, transform 200ms ease 0s;
	cursor: pointer;
	opacity: 1;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	bottom: 26px;
	right: 26px;
	width: 36px;
	height: 36px;
	border-radius: 100%;
	font-size: 20px;
	box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px;
	z-index: 111;
	transform: translateX(0px) translateZ(0px);
}

.notion-focusable > div.any-hidden {
	display: none;
  }

  .any-hidden {
	display: none;
  }  