.placeholder-text {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 1px 0;
  white-space: pre-wrap;
  word-break: break-word
}

.placeholder-text-after:after {
  color: #aaa;
  content: attr(data-placeholder);
  font-size: 75%;
  font-style: inherit;
  font-weight: inherit;
  position: absolute;
  text-indent: 2px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none
}

.cell-heading {
  color: #292929;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: -.31em;
  margin-top: 22px;
  position: relative;
  white-space: pre-wrap;
  word-break: break-word
}

.cell-paragraph {
  color: #292929;
  font-size: 21px;
  letter-spacing: -.003em;
  line-height: 30px;
  margin-bottom: -.46em;
  margin-top: .86em;
  position: relative
}

.cell-hidden {
  display: none;
}

.path-hidden {
  display: none;
}

.icon-hidden {
  transform: rotate(-90deg);
}

.tool-div {
  display: flex
}

.btn {
  all: unset;
  align-items: center;
  background-color: inherit;
  background-color: transparent;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  height: 24px;
  justify-content: center;
  margin-right: 2px;
  position: relative;
  transition: background-color .18s cubic-bezier(.4, 0, .2, 1);
  width: auto
}

.btn:first-child {
  padding: 0;
  width: 24px
}

.btn:active,
.btn:focus,
.btn:hover {
  background-color: #dbdada
}


.tool-wrapper {
  display: flex;
  left: 0;
  opacity: 0;
  position: absolute;
  bottom: 2.5px;
  transition: opacity .18s cubic-bezier(.4, 0, .2, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none
}

.tools-show {
  opacity: 1
}

.dropdown {
  position: absolute;
}

.dropdown-kernel {
  display: flex; 
  align-items: center; 
  flex-direction: column-reverse; 
  transform-origin: 50% top; 
  top: 45px; 
  transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
  transform: translateY(0.5rem);
  visibility: hidden;
  opacity: 0;
}

.dropdown-kernel-show {
  transform: translateY(0rem);
  visibility: visible;
  opacity: 1;
}

.dropdown-file {
  display: flex; 
  align-items: center; 
  flex-direction: column-reverse; 
  transform-origin: 50% top; 
  transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
  transform: translateY(0.5rem);
  visibility: hidden;
  opacity: 0;
  margin-left: 2em;
  z-index: 9;
}

.dropdown-file-show {
  transform: translateY(0rem);
  visibility: visible;
  opacity: 1;
}

.cell-wrapper {
  height: auto;
  padding: 0 64px;
  position: relative;
  width: 100%
}

.content-wrapper {
  position: relative;
  width: auto
}

.main-container {
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
  padding-bottom: 150px;
  position: relative;
  text-rendering: optimizelegibility;
  width: 100%
}

.group-container {
  height: auto;
  width: 100%
}

.styles-container-body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center
}

.styles-container-editor {
    max-width: 100%;
    width: 100%;
    padding: 2em;
    padding-top: 3.5rem;
    padding-bottom: 400px;
}

.styles-container-editor .frontend-paragraph {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px
}


.frontend-object {
  background-color: #fff;
  display:inline-block;
  border-radius: 4px;
  position: relative;
  color: #444;
  cursor: pointer;
}
.frontend-object:empty {
  width: auto;
  height: 1em;
  line-height: 1em;
}
.frontend-object:empty::after {
  margin:auto;
  right:0;
  left:0;
  position: relative;
  padding-left:1em;
  padding-right:1em;
  font-size:14px;
  background:none;
  content: attr(data-object);
}
.frontend-object:before {
  content: '';
  display: block;
  position: absolute;
  background-color: #ccc;
  left: 20px;
  right: 20px;
  bottom: 0;
  top: 50%;
  z-index: -1;
  box-shadow: 0 0 40px #999;
  transition: box-shadow 0.2s ease-in-out;
}
.frontend-object.level-3:hover:before {
  box-shadow: 0 0 80px #999;
}
.frontend-object h5 {
  font-weight: 300;
  font-size: 30px;
}

body,
html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  padding: 0;
  margin: 0;
  font-family: Montserrat, sans-serif
}

a {
  text-decoration: none
}

a:hover {
  text-decoration: underline
}

* {
  box-sizing: border-box
}

.styles-dismiss-cross {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  }

.styles-notice-box {
  position: relative;
  width: calc(100% - 1rem);
  padding-top: 2rem;
  padding-right: 3rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(255, 250, 240);
  color: rgb(151, 90, 22);
}

h1 {
  font-size: 2rem;
  margin-bottom:1.25rem
}

h2 {
  font-size: 1.5rem;
  margin-bottom:.25rem
}

h2, h3 {
  margin-top:0
}

h3 {
  font-size: 1.25rem;
  margin-bottom:.125rem
}

h4 {
  font-size: 1.125rem;
  margin-bottom:.25rem
}

h4, p {
  margin-top:0
}

p {
  font-size: 1rem;
  margin-bottom:.125rem
}

.no-kernel {
  background-color: rgb(236, 236, 236);
  color: rgba(55, 53, 47, 0.5);
}

.bad-kernel {
  background-color: rgb(255, 226, 221);
  color: rgb(93, 23, 21);
}

.load-kernel {
  background-color: rgb(255, 245, 221);
  color: rgba(71, 71, 71, 0.792);
}

.good-kernel {
  background-color: rgb(219, 237, 219);
  color: rgba(71, 71, 71, 0.792);
}

.range-slider {
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  display: block;
  position: relative;
  width: 100%;
  height: 8px;
  background: #ddd;
  border-radius: 4px
}

.range-slider[data-vertical] {
  height: 100%;
  width: 8px
}

.range-slider[data-disabled] {
  opacity: .5;
  cursor: not-allowed
}

.range-slider .range-slider__thumb {
    position: absolute;
    z-index: 3;
    top: 50%;
    width: 15px;
    height: 15px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: #21a8f4;
}

.range-slider .range-slider__thumb:focus-visible {
  outline: 0;
  box-shadow: 0 0 0 6px rgba(33, 150, 243, .5)
}

.range-slider[data-vertical] .range-slider__thumb {
  left: 50%
}

.range-slider .range-slider__thumb[data-disabled] {
  z-index: 2
}

.range-slider .range-slider__range {
  position: absolute;
  z-index: 1;
  transform: translate(0, -50%);
  top: 50%;
  width: 100%;
  height: 100%;
  background: #51adf6
}

.range-slider[data-vertical] .range-slider__range {
  left: 50%;
  transform: translate(-50%, 0)
}

.range-slider input[type=range] {
  -webkit-appearance: none;
  pointer-events: none;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: transparent
}

.range-slider input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none
}

.range-slider input[type=range]::-moz-range-thumb {
  width: 0;
  height: 0;
  border: 0
}

.range-slider input[type=range]:focus {
  outline: 0
}

.web-slider {
    width: 15vw;
    height: 0.2em;
    margin: 0;
    margin-left:1em
}
.web-slider .range-slider__thumb[data-lower] {
    width: 0;
}
.web-slider .range-slider__range {
    border-radius: 6px;
}

.panel {
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    /* flex-wrap: revert-layer; */
    gap: 1em;
}

.panel .child {
    min-height: 0.2em;
}

.filename-input {
  font-size: 14px;
  line-height: 2em;
}







