.placeholder-text {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 1px 0;
  white-space: pre-wrap;
  word-break: break-word
}

.placeholder-text-after:after {
  color: #aaa;
  content: attr(data-placeholder);
  font-size: 75%;
  font-style: inherit;
  font-weight: inherit;
  position: absolute;
  text-indent: 2px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none
}

.cell-heading {
  color: #292929;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: -.31em;
  margin-top: 22px;
  position: relative;
  white-space: pre-wrap;
  word-break: break-word
}

.cell-paragraph {
  color: #292929;
  font-size: 21px;
  letter-spacing: -.003em;
  line-height: 30px;
  margin-bottom: -.46em;
  margin-top: .86em;
  position: relative
}

.tool-div {
  display: flex
}

.btn {
  all: unset;
  align-items: center;
  background-color: inherit;
  background-color: transparent;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  height: 24px;
  justify-content: center;
  margin-right: 2px;
  position: relative;
  transition: background-color .18s cubic-bezier(.4, 0, .2, 1);
  width: auto
}

.btn:first-child {
  padding: 0;
  width: 24px
}

.btn:active,
.btn:focus,
.btn:hover {
  background-color: #dbdada
}


.tool-wrapper {
  display: flex;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 2.5px;
  transition: opacity .18s cubic-bezier(.4, 0, .2, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none
}

.tools-show {
  opacity: 1
}

.cell-wrapper {
  height: auto;
  padding: 0 64px;
  position: relative;
  width: 100%
}

.content-wrapper {
  position: relative;
  width: auto
}

.main-container {
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
  padding-bottom: 150px;
  position: relative;
  text-rendering: optimizelegibility;
  width: 100%
}

.group-container {
  height: auto;
  width: 100%
}

.styles-container-body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center
}

.styles-container-editor {
  max-width: 800px;
  width: 100%;
  padding-top: 3.5rem;
  padding-bottom: 400px
}

.styles-container-editor .frontend-paragraph {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px
}

body,
html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  padding: 0;
  margin: 0;
  font-family: Montserrat, sans-serif
}

a {
  color: inherit;
  text-decoration: none
}

* {
  box-sizing: border-box
}

.styles-dismiss-cross {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  }

.styles-notice-box {
  position: relative;
  width: calc(100% - 1rem);
  padding-top: 2rem;
  padding-right: 3rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(255, 250, 240);
  color: rgb(151, 90, 22);
}

h1 {
  font-size: 2rem;
  margin-bottom:1.25rem
}

h2 {
  font-size: 1.5rem;
  margin-bottom:.25rem
}

h2, h3 {
  margin-top:0
}

h3 {
  font-size: 1.25rem;
  margin-bottom:.125rem
}

h4 {
  font-size: 1.125rem;
  margin-bottom:.25rem
}

h4, p {
  margin-top:0
}

p {
  font-size: 1rem;
  margin-bottom:.125rem
}


