.column {
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    /* flex-wrap: revert-layer; */
    gap: 1em;
}

.column .child {
    min-height: 0.2em;
}

form.oi-range {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /*! min-height: 25.5px; */
}

@media only screen and (min-width: 30em) {
form.oi-range > label {
    flex-shrink: 0;
    align-self: start;
    padding: 5px 0 4px 0;
    min-width: 120px;
    margin-right: 6.5px;
    /*! padding-right: 5em; */
}
form.oi-range {
    flex-wrap: nowrap;
    width: auto;
    /*! max-width: 100%; */
    position: relative;
    /*! display: flex; */
    margin: 0;
    padding: 0.5em;
    height: auto;
    /*! padding-right: 3em; */
}
}

.oi-range-input {
    display: flex;
    /*! align-items: center; */
    width: 100%;
    /*! height: quto; */
}

.oi-range-input>input[type=number] {
    font-variant-numeric: tabular-nums;
    flex-shrink: 1.5;
    text-overflow: ellipsis;
    width: 5em;
}

.oi-range-input>input[type=range] {
    margin: 0;
    margin-left: 6.5px;
}

.oi-button {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /*! min-height: 25.5px; */
    font: 13px/1.2;
}

form.oi-button {
    flex-wrap: nowrap;
    width: auto;
    /*! max-width: 100%; */
    position: relative;
    /*! display: flex; */
    margin: 0;
    padding: 0.5em;
    height: auto;
    /*! padding-right: 3em; */
}


form.oi-toggle {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /*! min-height: 25.5px; */
}

@media only screen and (min-width: 30em) {
form.oi-toggle > label {
    flex-shrink: 0;
    align-self: start;
    padding: 5px 0 4px 0;
    min-width: 120px;
    margin-right: 6.5px;
    /*! padding-right: 5em; */
}
form.oi-toggle {
    flex-wrap: nowrap;
    width: auto;
    /*! max-width: 100%; */
    position: relative;
    /*! display: flex; */
    margin: 0;
    padding: 0.5em;
    height: auto;
    /*! padding-right: 3em; */
}
}
