

@font-face {
  font-family: 'Hasklig';
  font-style: normal;
  font-weight: normal;
  src: url("/Fonts/Hasklig-Regular.otf");
}
.margin-bottom-fix {
  margin-bottom: 0.15em;
}


  
.cm-line {
  font-family: 'Hasklig' !important;
}

.cell-type-widget {
  display: inline-block;
  position: relative;
  border-radius: 4px;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 0.75rem;
  /* line-height: 120%; */
  height:1.1rem;
  background-color: rgb(236, 236, 236);
  color: rgba(55, 53, 47, 0.5);
  opacity: 0.7;
}

:root {
    /*font-size: 0.9em;*/
    font-size: medium;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --editor-key-meta: #404740;
    --editor-key-keyword: #708;
    --editor-key-atom: #219;
    --editor-key-literal: #164;
    --editor-key-string: #a11;
    --editor-key-escape: #e40;
    --editor-key-variable: #00f;
    --editor-local-variable: #30a;
    --editor-key-type: #085;
    --editor-key-class: #167;
    --editor-special-variable: #256;
    --editor-key-property: #00c;
    --editor-key-comment: #940;
    --editor-key-invalid: #f00;
    
    --editor-outline: #696969;
  
    --editor-bracket-1: #5461c8;
    --editor-bracket-2: #c724b1;
    --editor-bracket-3: #e4002b;
    --editor-bracket-4: #ff6900;
    --editor-bracket-5: #978d00;
    --editor-bracket-6: #019e79;
    --editor-bracket-7: #008dc1;
  
    --editor-bracket-1-a: #5461c8; 
    --editor-bracket-2-a: #c724b1;
    --editor-bracket-3-a: #e4002b;
    --editor-bracket-4-a: #ff6900;
    --editor-bracket-5-a: #978d00;
    --editor-bracket-6-a: #019e79;
    --editor-bracket-7-a: #008dc1;
  }
  
/*.bg-d9 {
  background: #d9d9d9;
}*/
.bg-d9 {
  background: rgb(0 0 0 / 2%);
}


.bg-239 {
  background: rgb(239,239,239)
}

input::selection {
  color: #2fa1d6;
}

.sm-controls {
    font-family: system-ui;
    caret-color: auto;
}

.cgi-ico {
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 999px;
  margin-right: 0.25rem;
  margin-top: 0.25rem;
  right: 0;
}

.text-gray-454 {
  --tw-text-opacity: 1;
  color: rgb(154 154 154 / var(--tw-text-opacity));
}

.bg-gray-454-half {
  --tw-text-opacity: 1;
  background: rgb(154 154 154 / 50%);
}

@media (min-width: 1024px) {
  .lg\:pl-70 {
    padding-left:16rem;
  }
}

@media (min-width: 768px) {
  .md\:-ml-70 {
    margin-left: -16rem !important;
  }

}

[sidebar="hidden"] .zen\:ml-0 {
  margin-left: 0px !important;
}

.-ml-70 {
  margin-left: -16rem;
}

@media (min-width: 768px) {
 .md\:pl-70 {
    padding-left: 16rem;
 }
}

@media (min-width: 768px) {
  .md\:w-70 {
    width:16rem;
  }
}

@media (min-width: 1024px) {
  .lg\:w-70 {
    width:16rem;
  }
}

.sc-b {
  scrollbar-width: 2px;
  scrollbar-color: rgba(15, 15, 15, 0.2) transparent;
}

.sc-b::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

.sc-b::-webkit-scrollbar-thumb {
  background: rgba(15, 15, 15, 0.2);
  border-radius: 5px;
}

.sc-b::-webkit-scrollbar-track {
  background-color: transparent;
}

.sc-b::-webkit-scrollbar-button {
  background-color: transparent;
  border-radius: 5px;
}


.cm-scroller::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

.cm-scroller::-webkit-scrollbar-thumb {
  background: rgba(15, 15, 15, 0.2);
  border-radius: 5px;
}

.cm-scroller::-webkit-scrollbar-track {
  background-color: transparent;
}

.cg-fix {
  height: auto;
}

.z-inf {
  z-index:110;
}

.invisible-cell {
  display: none;
}

.h-titlebar {
  height: env(titlebar-area-height) !important;
}

[os="Windows"] .win\:h-titlebar {
  height: env(titlebar-area-height) !important;
}

[os="WindowsLegacy"] .owin\:h-titlebar {
  height: env(titlebar-area-height) !important;
}

[os="Windows"] .win\:sc-b {
  scrollbar-width: 2px;
  scrollbar-color: rgba(15, 15, 15, 0.2) transparent;
}

[os="Windows"] .win\:sc-b::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

[os="Windows"] .win\:sc-b::-webkit-scrollbar-thumb {
  background: rgba(15, 15, 15, 0.2);
  border-radius: 5px;
}

[os="Windows"] .win\:sc-b::-webkit-scrollbar-track {
  background-color: transparent;
}

[os="Windows"] .win\:sc-b::-webkit-scrollbar-button {
  background-color: transparent;
  border-radius: 5px;
}

[os="WindowsLegacy"] .owin\:sc-b {
  scrollbar-width: 2px;
  scrollbar-color: rgba(15, 15, 15, 0.2) transparent;
}

[os="WindowsLegacy"] .owin\:sc-b::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

[os="WindowsLegacy"] .owin\:sc-b::-webkit-scrollbar-thumb {
  background: rgba(15, 15, 15, 0.2);
  border-radius: 5px;
}

[os="WindowsLegacy"] .owin\:sc-b::-webkit-scrollbar-track {
  background-color: transparent;
}

[os="WindowsLegacy"] .owin\:sc-b::-webkit-scrollbar-button {
  background-color: transparent;
  border-radius: 5px;
}

[os="Unix"] .linux\:h-titlebar {
  height: env(titlebar-area-height) !important;
}

[os="Windows"] .win\:pt-fix {
  padding-top: 0.2em
}

[os="WindowsLegacy"] .owin\:pt-fix {
  padding-top: 0.2em
}

[os="Unix"] .linux\:pt-fix {
  padding-top: 0.2em
}

[os="Windows"][sidebar="hidden"] .win-zen\:pl-2 {
  padding-left: 0.5rem;
}

[os="Unix"][sidebar="hidden"] .linux-zen\:pl-2 {
  padding-left: 0.5rem;
}

[os="OSX"][sidebar="hidden"] .osx-zen\:pl-20 {
  padding-left: 5rem;
}

[os="WindowsLegacy"][sidebar="hidden"] .owin-zen\:pl-2 {
  padding-left: 0.5rem;
}

[os="Browser"][sidebar="hidden"] .bro-zen\:pl-2 {
  padding-left: 0.5rem;
}

[transparency="true"] .bg-g-trans {
  background: transparent !important;
}

.ttint {
  transition: height 0.2s;
  background: #0056880f;
}

.h-fade-20 {
  mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  max-height: 4rem;
  overflow: hidden;
}

